.vs/
Library/
Temp/
Logs/
obj/
Build/
UserSettings/
MemoryCaptures/

*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.unitypackage
Assets.zip
Assets.zip
Assets/Scenes/Main/LightingData.asset
